.terminate-conversation {
    display: none;
    background-color: rgb(212, 205, 195);
    position: absolute;
    top: 50%;
    left: 50%;
}

.terminate-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}